body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



#section1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url("../Images/StockImages/global-AdobeStock_309902754.jpeg");
    background-position: center;
    background-size: cover;
    color: white;
    padding-bottom: 40px;
}

#section1 h1 {
    font-size: 2rem;
}

#section2 {
    margin-bottom: 40px;;
}

.subheading {
    line-height: 2rem;
    max-width: 900px;
    margin: auto;
}

.container {
    width: 100%;
}

#toplogo {
    margin: 30px 0 20px;
}

img {
    border:0;
}

#crteSolutions {
    
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 950px) {

    #conresSolutions { margin-bottom: 40px;}

}

.stockPhoto {
    height: 200px;
    width: 400px;
}

.Icons {
    height: auto;
    width: auto;
}

#conres-img {
    display: block;
    width: 100%;
}

#crte-img {
    display: block;
    width: 100%;
}

#criButton {
    background-color: #618e49;
    color: white;
}

#crteButton{
    background-color: #ffa51b;
    color: white;
}

footer {
    background-color: #14243b;
    vertical-align: middle;
}

footer p {
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 30px 0;
}