body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



#section1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url("../Images/StockImages/global-AdobeStock_309902754.jpeg");
    background-position: center;
    background-size: cover;
    height: 350px;
    color: white;

}

.subheading {
    line-height: 2rem;
}

.container {
    width: 100%;
}

#toplogo {
    padding: 4%;
}

img {
    border:0;
}

#crteSolutions {
    border-top-width: 5px;
}

.stockPhoto {
    height: 200px;
    width: 400px;
}

.Icons {
    height: auto;
    width: auto;
}