#section1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url("../Images/StockImages/global-AdobeStock_309902754.jpeg");
    background-position: center;
    background-size: cover;
    height: 350px;
    width: ;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.subheading {
    line-height: 2rem;
}

.container {
    width: 100%;
}

#toplogo {
    padding: 4%;
}

img {
    border:0;
}

.conresSolutions {
    border-color: red;
    border-top-width: 5px;
}